.signup{
    background-image: url(https://static.vecteezy.com/system/resources/previews/007/164/537/non_2x/fingerprint-identity-sensor-data-protection-system-podium-hologram-blue-light-and-concept-free-vector.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 92vh;
}